html,body{
  background: #F9F9F9 !important;
  box-sizing: border-box !important;
  overflow-x: hidden !important;
}
.nav {
  border-top: 9px solid;
  border-image: linear-gradient(to right, rgb(31, 162, 255), rgb(18, 216, 250), rgb(166, 255, 203)) 1;
  height: 70px;
}


.nav-max-w{
  max-width: 1005px !important;
}

.nav-custom-bg{
  background-color: #ffff !important;
  font-weight: bold;
}

.nav-link{
  color: black !important;
}

.section-1{
  height: 800px;
}

.port-desc{
  width: 390px !important;
  margin-top: 25px;
}

.port-desc p{
  font-size: 20px;
  color: black;
  opacity: 70%;
}
.h1--title{
  font-weight: bolder;
  font-size: 40px;
}

.p--desc{
  font-size: 19px;
}

.icons {
  padding-top: 30px !important;
}


.custom-flex{
  max-width: 1000px;
  margin: auto !important;
}

.mobile-icons{
  max-width: 10000px;
  margin: auto !important;
}

.sec1--image--margin{
  margin-left: 90px;
}

.line{
  height: 60px ;
  width: 0;
  border: 1px black solid;
  margin-left: 20px;
}

.icon--wrapper {
  background-color: white;
  display: flex !important;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  background-size: 80%;
  margin-left: 20px;
  align-items: center;
  margin-top: -20px;
}

.contact-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-right: 20px;
  height: 80px;
  width: 80px;
}

.icon-color{
  color: black !important;
}

.--icons {
  display: block;
  width: 100%;
  height: 75%;
  align-items: center;
  justify-content: center;
}

.icon--mobile{
  display: flex;
  margin-top: 25px;
  align-items: center;
  cursor: pointer;
}

.mobile--stack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.container--about{
  height: 600px;
  max-width: 1100px;
  margin: auto !important;
  display: flex;
  align-items: center;
}

.container--about img{
  border-radius: 20px;
  height: 346px;
}

.h2--about{
  font-weight: bolder;
}
.h5--about{
  font-weight: 800;
  color: #0D6EFD;
}

.about-image{
  margin-left: 70px;
}

.box {
  max-width: fit-content;
  background-image: linear-gradient(to right, rgb(31, 162, 255), rgb(18, 216, 250), rgb(166, 255, 203));
}



.screen {
  width: 580px;
  height: 380px;
  overflow: hidden;
  margin-right: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px !important;

}

.card-hover{
  transition: transform 250ms;

}

.card-hover:hover{
  transform: translateY(-10px);

}
.icon-hover{
  transition: transform 250ms;

}

.icon-hover:hover{
  transform: translateY(-5px);

}

.screenProject {
  width: 300px;
  height: 150px;
  overflow: hidden;
  margin-right: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.screen img {
  width: 100%;
  height: 100%;
  border-radius: 10px !important;
  object-fit: cover;
  object-position: top center;
  transition: all 3s ease-in-out;
  
}

#portfolio{
  margin-top: 250px !important;
}

.projects{
  width: 1300px !important;
}
.containerProject{
  max-width: 980px !important;
  height: 1350px !important;
}
.containerAbout{
  height: 1350px !important;
}
.screen:hover img {
  object-position: bottom center;

}

.stack{
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  margin: auto;
}

.cards-portfolio{
  width: 1060px;
  height: 428px !important; 
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px !important;
  margin: auto !important;
}

.h3-about{
  font-weight: bold;
  text-align: center;
}

.title{
  margin-top: 150px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title h5{
  margin-bottom: 20px !important;
}

.mini-card{
  padding: 1px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mini-card p{
  font-weight: 500 !important;
  margin: 7px;
}

.porto-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.port-desc{
  width: 390px !important;
}

.port-desc p{
  font-size: 20px;
  color: black;
  opacity: 70%;
}

.port-reverse{
  display: flex;
  flex-direction: row-reverse;
}

.port-desc-2{
  padding-left: 30px;
}

.about-desc{
  font-size: 18px;
  font-weight: 600;
  color: gray;
}

.contact-card{
  margin-top: 200px !important;
  height: 450px !important;
}
.contact-medium{
  margin-top: 350px !important;
  margin-bottom: 250px !important;
  height: 750px !important;
  padding: 1rem;
}

.grids{
  margin: auto !important;
  margin-left: 6em !important;
}

.h3-contact{
  font-weight: bold;
}

.card-body-contact{
  margin-left: 180px !important;
  padding-top: 100px !important;
  margin: auto !important;
}

.blog-card{
  width: 21em;
  height: 25em;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  border-radius: 0.5em;
  overflow: hidden;
}

.blog-thumbnail{
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0;
  top: 0;
}

.blog-profile-image{
  width: 25%;
  border-radius: 80%;
  position: absolute;
  /* z-index: 2 !important; */
  top: 40%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);

}

.blog-title-desc{
  position: absolute;
  bottom: 30px;
  text-align: start;
  padding: 20px;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 30px;
}
.grid-item {
  font-size: 30px;
  text-align: center;
}

.blog-title-desc h3{
  font-size: 18px;
  font-weight: bold;
}

.blog-title-desc a{
  color: black;
}

.author-date{
  display: flex;
  justify-content: space-between;
  margin-top: 28em;
  padding: 20px;
  color: gray;
  font-weight: 500;
  font-size: 12px;
}

.readMore {
  margin: auto;
  margin-bottom: 60px;
  text-decoration: none;
  color: gray;
}

.card-body-medium{
  text-align: center;
  margin-top: 40px;
}

.contact-wrapper{
  display: flex;
  align-items: center !important;
  margin-top: 40px;
  margin-left: -18px;
}

.empty{
  padding-left: 1000px !important;
}

.contact-text-wrapper{
  font-weight: bolder !important;
}

.footer{
  height: 150px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.footer-wrapper{
  display: flex;
  justify-content: space-evenly;
  gap: 650px;
}

.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #2D2E32;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: #2D2E32;
  border: 2px solid #2D2E32;
}




@media only screen and (max-width: 600px) {
  .custom-flex{
    display: flex !important;
    flex-direction: column-reverse !important;
    text-align: center;
  }

  .top-flex{
    max-width: 600px !important;
  }

  .navMobile{
    margin: auto;
  }
 
  
  .h1--title{
    font-weight: bolder;
    font-size: 28px !important;
  }

  .section-1{
    height: 700px;
  }

  .mobile-icons{
    text-align: center;
  }

  .icon--mobile{
    display: flex;
    margin-top: 25px;
    align-items: center;
    cursor: pointer;
  }

  .icon--wrapper {
    background-color: white;
    display: flex !important;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    background-size: 80%;
    align-items: center;
    margin: auto;
    
  }

  .projectLink a{
    cursor: ne-resize !important;
  }
  
  
  
  

  .mobile--stack {
    display: flex;
    flex-direction: column;

  }
  
  .--icons {
    width: 100%;
    height: 75%;
  }

  
  .line{
    height: 0;
    width:50px;
    text-align: center;
    border: 1px black solid;
    margin-left: 0px;
  }

  .sec1--image--margin{
    margin-left: 0px;
  }

 .cards{
    margin-top: 250px;
    text-align: center;
    height: 800px;
    display: flex !important;
    align-content: center !important;
  }

  .container--about{
    height: 900px;
    max-width: 1100px;
    margin-top:-90px !important;
    display: flex;
    align-items: center;
  }
 

  .container--about img{
    border-radius: 20px;
    height: 250px;
    width: 320px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .containerImageAbout img{
    border-radius: 20px;
    height: 300px;
    width: 320px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .cards-portfolio{
    width: 358px;
    height: 650px !important; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px !important;
    margin: auto !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .screen {
    width: 328px;
    height: 200px;
    overflow: hidden;
    margin-right: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px !important;
    margin: auto;
  }

  .port-desc{
    width: 335px !important;
    margin: auto;
    margin-top: 250px !important;
  }

  .porto-icons{
    width: 350px;
  }
  
  .porto-icons h5{
    font-size: 18px;

  }

  .port-desc p{
    font-size: 18px;
    color: black;
  }

  .contact-card{
    margin-top: 100px !important;  
    height: 600px !important;
  }

  .card-body-contact{
    margin: auto !important;
    margin-top: 150px !important;
    text-align: center !important;
    text-align: center !important;
  }

  .empty{
    padding-left: 0px !important;
  }

  .contact-wrapper{
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
    margin-top: 30px;
    margin-left: -18px;
  }

  .contact-text{
    margin-top: 10px;
  }

  .contact-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    height: 100px;
    width: 100px;
  }

  .footer{
    height: 80px;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 0;
  }

  .footer h5{
    margin-left:0px;
    font-size: 12px;
  }


  .h5--about{
    margin-top: -200px;

  }


.blog-card{
  width: 21rem;
  height: 25rem;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  border-radius: 0.5em;
}

.blog-thumbnail{
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0;
  top: 0;
}

.blog-profile-image{
  width: 25%;
  border-radius: 80%;
  position: absolute;
  /* z-index: 2 !important; */
  top: 40%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);

}

.blog-title-desc{
  position: absolute;
  bottom: 30px;
  text-align: start;
  padding: 20px;

}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto !important;
  padding: 0px;

}
.grid-item {
  font-size: 30px;
  text-align: center;
  
}


.portoDesc{
  margin-top:220px !important;
}

.blog-title-desc h3{
  font-size: 18px;
  font-weight: bold;
}

.blog-title-desc a{
  color: black;
}

.author-date{
  display: flex;
  justify-content: space-between;
  margin-top: 28em;
  padding: 20px;
  color: gray;
  font-weight: 500;
  font-size: 12px;
}


.card-body-medium{
  text-align: center;
  margin-top: 40px;
}

.contact-medium{
  margin-top: 200px !important;
  height: 700px !important;
}

.readMore {
  margin: auto;
  margin-bottom: 30px;
  text-decoration: none;
  color: gray;
}

.projects{
  width: 0px !important;
}


.containerProjectMobile{
  max-width: 370px !important;
  margin-bottom: 100px;
  height: 420vh !important;
}

.containerProjectBlog{
  max-width: 370px !important;
  margin-bottom: 100px;
  height: 250vh !important;
}

.boxProject{
margin: auto;
}

.containerAbout{
  margin-top: -10px;
}

.containerTextAbout{
  margin-top: 10px !important;
}

.footer-wrapper{
  display: block;
}


.box {
  max-width: fit-content;
  margin: auto;
  background-image: linear-gradient(to right, rgb(31, 162, 255), rgb(18, 216, 250), rgb(166, 255, 203));
}



  
}


